@page
@model BePresent.Pages.AdminDashboard.CreateEmployeeModel
@{
    ViewData["Title"] = "Dashboard - Create New Employee";
    ViewData["HeadLine"] = "Employee Management";
}

@* @await Html.PartialAsync("/Pages/Shared/_AdminSidebarPartial.cshtml") *@
@await Html.PartialAsync("_AdminSidebarPartial", new BePresent.Pages.Shared.Pages_Shared__AdminSidebarPartial
{
   
})

<div class="col-lg-6">

    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Crete New Employee</h5>

            <!-- General Form Elements -->
            <form method="post">
                <div class="row mb-3">
                    <label asp-for="Employee.First_name" class="col-sm-2 col-form-label">First Name</label>
                    <div class="col-sm-10">
                        <input asp-for="Employee.First_name"  type="text" class="form-control">
                        <span asp-validation-for="Employee.First_name" class="text-danger"></span>
                    </div>
                </div>
                <div class="row mb-3">
                    <label asp-for="Employee.Last_name" class="col-sm-2 col-form-label">Last Name</label>
                    <div class="col-sm-10">
                        <input asp-for="Employee.Last_name" type="text" class="form-control">
                        <span asp-validation-for="Employee.Last_name" class="text-danger"></span>
                    </div>
                </div>
                <div class="row mb-3">
                    <label asp-for="Employee.National_number" class="col-sm-2 col-form-label">National Number</label>
                    <div class="col-sm-10">
                        <input asp-for="Employee.National_number" type="text" class="form-control" placeholder="Enter national number">
                    </div>
                </div>

                <div class="row mb-3">
                    <label asp-for="Employee.Iqama_number" class="col-sm-2 col-form-label">Iqama Number</label>
                    <div class="col-sm-10">
                        <input asp-for="Employee.Iqama_number" type="text" class="form-control" id="iqamaNumber" name="iqamaNumber" placeholder="Enter iqama number">
                    </div>
                </div>
                <div class="row mb-3">
                    <label asp-for="Employee.Email" class="col-sm-2 col-form-label">Email</label>
                    <div class="col-sm-10">
                        <input asp-for="Employee.Email" type="email" class="form-control">
                        <span asp-validation-for="Employee.Email" class="text-danger"></span>

                    </div>
                </div>
               @*  <div class="row mb-3">
                    <label asp-for="inputPassword" class="col-sm-2 col-form-label">Password</label>
                    <div class="col-sm-10">
                        <input type="password" class="form-control">
                    </div>
                </div> *@
                <div class="row mb-3">
                    <label asp-for="Employee.Phone_number" class="col-sm-2 col-form-label">Phone Number</label>
                    <div class="col-sm-10">
                        <input asp-for="Employee.Phone_number" type="text" class="form-control" placeholder="e.g., 05XXXXXXXX">
                        <span asp-validation-for="Employee.Phone_number" class="text-danger"></span>

                    </div>
                </div>
               @*  <div class="row mb-3">
                    <label asp-for="inputNumber" class="col-sm-2 col-form-label">File Upload</label>
                    <div class="col-sm-10">
                        <input class="form-control" type="file" id="formFile">
                    </div>
                </div> *@
                <div class="row mb-3">
                    <label asp-for="Employee.Birth_date" class="col-sm-2 col-form-label">Birth Date</label>
                    <div class="col-sm-10">
                        <input asp-for="Employee.Birth_date" type="date" class="form-control">
                    </div>
                </div>
                <div class="row mb-3">
                    <label asp-for="Employee.Joined_date" class="col-sm-2 col-form-label">Joined Date</label>
                    <div class="col-sm-10">
                        <input asp-for ="Employee.Joined_date" type="date" class="form-control">
                    </div>
                </div>
               @*  <div class="row mb-3">
                    <label asp-for="inputTime" class="col-sm-2 col-form-label">Time</label>
                    <div class="col-sm-10">
                        <input type="time" class="form-control">
                    </div>
                </div> *@

               @*  <div class="row mb-3">
                    <label asp-for="inputColor" class="col-sm-2 col-form-label">Color Picker</label>
                    <div class="col-sm-10">
                        <input type="color" class="form-control form-control-color" id="exampleColorInput" value="#4154f1" title="Choose your color">
                    </div>
                </div>
                <div class="row mb-3">
                    <label asp-for="inputPassword" class="col-sm-2 col-form-label">Textarea</label>
                    <div class="col-sm-10">
                        <textarea class="form-control" style="height: 100px"></textarea>
                    </div>
                </div> *@
                <fieldset class="row mb-3">
                    <legend class="col-form-label col-sm-2 pt-0">Gender</legend>
                    <div class="col-sm-10">
                        <div class="form-check">
                            <input class="form-check-input" asp-for="Employee.Gender" type="radio" value="male">
                            <label class="form-check-label" asp-for="Employee.Gender">
                                Male
                            </label>
                        </div>
                        <div class="form-check">
                            <input asp-for="Employee.Gender" class="form-check-input" type="radio" Value="female">
                            <label class="form-check-label" asp-for="Employee.Gender">
                                Female
                            </label>
                        </div>
                        <span asp-validation-for="Employee.Gender" class="text-danger"></span>
                    </div>
                </fieldset>
               @*  <div class="row mb-3">
                    <legend class="col-form-label col-sm-2 pt-0">Checkboxes</legend>
                    <div class="col-sm-10">

                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="gridCheck1">
                            <label class="form-check-label" asp-for="gridCheck1">
                                Example checkbox
                            </label>
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="gridCheck2" checked>
                            <label class="form-check-label" asp-for="gridCheck2">
                                Example checkbox 2
                            </label>
                        </div>

                    </div>
                </div>

                <div class="row mb-3">
                    <label class="col-sm-2 col-form-label">Disabled</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" value="Read only / Disabled" disabled>
                    </div>
                </div>

                <div class="row mb-3">
                    <label class="col-sm-2 col-form-label">Select</label>
                    <div class="col-sm-10">
                        <select class="form-select" aria-label="Default select example">
                            <option selected>Open this select menu</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div>
                </div> *@

               @*  <div class="row mb-3">
                    <label class="col-sm-2 col-form-label">Multi Select</label>
                    <div class="col-sm-10">
                        <select class="form-select" multiple aria-label="multiple select example">
                            <option selected>Open this select menu</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div>
                </div> *@

                <fieldset class="row mb-3">
                    <legend class="col-form-label col-sm-2 pt-0">Marital Status</legend>
                    <div class="col-sm-10">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" asp-for="Employee.Marital_status" value="Single">
                            <label class="form-check-label" asp-for="Employee.Marital_status">
                                Single
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" asp-for="Employee.Marital_status" value="Married">
                            <label class="form-check-label" asp-for="Employee.Marital_status">
                                Married
                            </label>
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" type="radio" asp-for="Employee.Marital_status" value="Divorced">
                            <label class="form-check-label" asp-for="Employee.Marital_status">
                                Divorced
                            </label>
                        </div>

                    </div>
                </fieldset>

                 <div class="row mb-3">
                    <label asp-for="Employee.Position" class="col-sm-2 col-form-label">Position</label>
                    <div class="col-sm-10">
                        <input asp-for="Employee.Position" type="text" class="form-control">
                    </div>
                </div>

                <div class="row mb-3">
                    <label asp-for="Employee.Nationality" class="col-sm-2 col-form-label">Nationality</label>
                    <div class="col-sm-10">
                        <input asp-for="Employee.Nationality" type="text" class="form-control">
                    </div>
                </div>

                <div class="row mb-3">
                    <label asp-for="Employee.Salary" class="col-sm-2 col-form-label">Salary</label>
                    <div class="col-sm-10">
                        <input type="number" class="form-control" asp-for="Employee.Salary" placeholder="Enter salary">
                    </div>
                </div>

                <div class="row mb-3">
                    <label asp-for="Employee.SelectedRole" class="col-sm-2 col-form-label">Role</label>
                    <div class="col-sm-10">
                        <select asp-for="Employee.SelectedRole" asp-items="@Model.Roles" class="form-control">
                           <option value="">Select Role</option> 
                        </select>
                    </div>
                    <span asp-validation-for="Employee.SelectedRole" class="text-danger"></span>
                </div>

                <div class="row mb-3">
                   @*  <label class="col-sm-2 col-form-label">Submit </label> *@
                    <div class="col-sm-10">
                        <button type="submit" class="btn btn-primary">Save </button>
                    </div>
                </div>

            </form><!-- End General Form Elements -->
            
        </div>
    </div>

</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

}